.left-column {
	.left-menus-wrapper {
		overflow: hidden;
	}
	.left-menus {
		position: absolute;
		top: 0;
		left: 80px;
		bottom: 0;
		width: 360px;
		height: 100%;
		background-color: #fff;
		border-right: thin solid #ccc;

		.left-search {
			form {
				margin-top: 13px;
				
				.input-group {
					@include display(flex);
					position: relative;
					min-width: 150px;

					.input-group-icon {
						position: absolute;
						right: 0;
						height: 100%;
						padding: 6px 12px;
						font-size: 13px;
						color: #ccc;
					}
				}
			}
		}
		.left-content {
			ul {
				li {
					a {
						padding: 20px 15px !important;
					}
				}
			}
		}
		.left-content-wrapper {
			position: absolute;
			top: 107px;
			right: 0;
			left: 0;
			bottom: 0;
			background-color: #fff;
			padding-bottom: 20px;

			.left-content-tree {
				ul {
					li {
						display: block;
						width: auto;
						min-width: auto;

						.content-wrapper {
							padding-left: 7px;
							@include display(flex);
							flex-wrap: nowrap;
							position: relative;
							overflow: hidden;
							align-items: center;
							-ms-flex-align: center;
							min-width: 75px;

							a, ins {
								margin: auto;
								cursor: pointer;
								text-decoration: none;
							}
							ins {
								margin-right: 4px;
							}
							.content-title {
								padding: 8px 0;
								width: auto;
								min-width: 100%;
							}
							.navigation {
								width: 12px;
							}
							.tree-icon {
								margin-right: 15px;
								font-size: 22px;
							}
						}
						.content-wrapper:hover {
							background-color: #f8f8f8;

							.myb-options {
								background-color: #f8f8f8;
								position: absolute;
								right: 0;
							}
							a.ellipsis {
								visibility: visible;
							}
						}
						ul {
							li {
								.content-wrapper {
									padding-left: 20px;
								}
								ul {
									li {
										.content-wrapper {
											padding-left: 40px;
										}
										ul {
											li {
												.content-wrapper {
													padding-left: 60px;
												}
											}
										}
									}
								}
							}
						}
					}
					* {
						white-space: nowrap;
					}
				}
			}
			.ellipsis {
				font-size: 20px;
				width: auto !important;
				padding: 0 8px !important;
				margin-right: 10px !important;
				visibility: hidden;
			}
			.ellipsis:focus, .ellipsis:hover {
				background-color: #ddd;
			}
		}	
	}
}